/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: sans-serif; }

ol, ul {
  list-style: none; }

a, a:visited, a:active, a:hover {
  color: inherit;
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1300px; }

.side_menu, .core .filters .category, .core .filters .filter {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;
  width: 257px; }
  .side_menu .yellow-bar, .core .filters .category .yellow-bar, .core .filters .filter .yellow-bar {
    background-color: #fce376;
    height: 7px; }
  .side_menu .filter-title, .core .filters .category .filter-title, .core .filters .filter .filter-title {
    background-color: rgba(235, 235, 235, 0.45);
    color: #4d4d4d;
    font-size: 1.375em;
    height: 46px;
    line-height: 46px;
    text-transform: uppercase; }
  .side_menu ul, .core .filters .category ul, .core .filters .filter ul {
    padding: 15px 0; }
  .side_menu ul li, .core .filters .category ul li, .core .filters .filter ul li {
    color: #727272;
    font-size: 1em;
    font-weight: 300;
    line-height: 2.438; }

.logo {
  float: left;
  margin: 10px 20px 0 0;
  height: 135px;
  width: 171px; }

.header-content {
  float: left;
  width: 1009px;
  position: relative;
  box-sizing: border-box; }
  .header-content .contact {
    -webkit-border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -ms-border-radius: 0 0 0 10px;
    border-radius: 0 0 0 10px;
    background-color: #ebebeb;
    color: #282828;
    font-size: 0.8em;
    height: 20px;
    line-height: 20px;
    width: 100%; }
    .header-content .contact .phone {
      float: left;
      padding-left: 10px; }
    .header-content .contact .suport {
      float: right; }
  .header-content .search-bar {
    position: relative; }
    .header-content .search-bar .search-input {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      border-radius: 20px;
      border: 1px solid #cccccc;
      float: left;
      font-size: 0.9em;
      height: 36px;
      margin: 10px 0;
      padding-left: 20px;
      width: 580px; }
      .header-content .search-bar .search-input:focus {
        outline: none; }
    .header-content .search-bar img {
      position: absolute;
      top: 20px;
      left: 570px; }
  .header-content .client-menu ul li, .header-content .categories ul li, .header-content .subcategories ul li, .header-content .source ul li {
    display: inline-block; }
  .header-content .client-menu {
    margin: 10px 0 0 10px;
    position: absolute;
    right: 0; }
    .header-content .client-menu ul li {
      width: 120px;
      font-size: 0.8em;
      text-transform: uppercase; }
      .header-content .client-menu ul li .menu-icon {
        position: relative;
        float: left; }
      .header-content .client-menu ul li .menu-txt {
        display: flex;
        float: left;
        height: 45px;
        align-items: center;
        width: 76px;
        padding-left: 5px;
        box-sizing: border-box;
        line-height: 1.3; }
  .header-content .categories {
    clear: both; }
    .header-content .categories ul li {
      -webkit-border-radius: 14px;
      -moz-border-radius: 14px;
      -ms-border-radius: 14px;
      border-radius: 14px;
      background-color: #ebebeb;
      color: #818181;
      font-size: 0.866em;
      height: 29px;
      line-height: 29px;
      margin-bottom: 7px;
      text-align: center;
      width: 122px; }
      .header-content .categories ul li:first-child {
        -webkit-border-radius: 14px 14px 0 0;
        -moz-border-radius: 14px 14px 0 0;
        -ms-border-radius: 14px 14px 0 0;
        border-radius: 14px 14px 0 0;
        background-color: #ffd000;
        color: #282828;
        height: 36px;
        margin-bottom: 0; }
  .header-content .subcategories {
    background-color: #ffd000;
    color: #282828;
    font-size: 0.866em;
    height: 32px;
    line-height: 32px;
    text-transform: uppercase; }
    .header-content .subcategories ul li {
      box-sizing: border-box;
      padding: 0 15px; }
      .header-content .subcategories ul li:first-child {
        padding-left: 30px; }
    .header-content .subcategories .dot {
      font-size: 2em; }

.source {
  clear: both;
  color: #818181;
  font-size: 0.688em;
  padding: 15px 0 10px 0;
  text-transform: uppercase; }
  .source ul li {
    display: inline-block;
    padding: 0 5px; }
    .source ul li:last-child {
      font-weight: bold; }

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1300px; }

.side_menu, .core .filters .category, .core .filters .filter {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;
  width: 257px; }
  .side_menu .yellow-bar, .core .filters .category .yellow-bar, .core .filters .filter .yellow-bar {
    background-color: #fce376;
    height: 7px; }
  .side_menu .filter-title, .core .filters .category .filter-title, .core .filters .filter .filter-title {
    background-color: rgba(235, 235, 235, 0.45);
    color: #4d4d4d;
    font-size: 1.375em;
    height: 46px;
    line-height: 46px;
    text-transform: uppercase; }
  .side_menu ul, .core .filters .category ul, .core .filters .filter ul {
    padding: 15px 0; }
  .side_menu ul li, .core .filters .category ul li, .core .filters .filter ul li {
    color: #727272;
    font-size: 1em;
    font-weight: 300;
    line-height: 2.438; }

.core h1 {
  color: #5f5f5f;
  font-size: 1.886em;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 15px 0;
  text-transform: uppercase; }
.core .filters {
  margin-top: 20px;
  float: left; }
.core .products-grid {
  margin: 20px 0 0 30px;
  float: left;
  width: 912px; }
  .core .products-grid .divider {
    background: rgba(235, 235, 235, 0.58);
    height: 1px;
    margin: 10px;
    width: 912px; }
  .core .products-grid .item {
    color: #5f5f5f;
    display: inline-block;
    font-size: 0.938em;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 258px; }
    .core .products-grid .item .old-price {
      text-decoration: line-through; }
    .core .products-grid .item .new-price {
      letter-spacing: 2px;
      color: #45a393;
      font-size: 1.563em;
      font-weight: 700;
      margin-top: 5px; }
  .core .products-grid .pagination a {
    color: 636363px;
    font-size: 1em;
    font-weight: 300;
    display: inline-block;
    margin: 20px; }
  .core .products-grid .pagination .selected {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #79bd86;
    color: #fff;
    font-weight: bold;
    height: 27px;
    width: 27px; }

/*# sourceMappingURL=style.css.map */
