@import "mixins";

.banner {
  overflow: hidden;

  img {
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: 1920px;
    margin-left: -960px;
  }
}

.core {
  h1 {
    color: #5f5f5f;
    font-size: 1.886em;
    font-weight: 400;
    letter-spacing: 3px;
    padding: 15px 0;
    text-transform: uppercase;
  }

  .filters {
    margin-top: 20px;
    float: left;

    .category {
      @extend .side_menu;

      a {
        display: block;
      }
    }

    .filter {
      @extend .side_menu;

      a {
        display: block;
      }
    }
  }

  .products-grid {
    margin: 20px 0 0 30px;
    float: left;
    width: 912px;

    .order-filter {
      color: #5f5f5f;
      font-family: 'Open Sans';
      font-size: 0.875em;
      font-weight: 400;

      select {
        @include border-radius(3px);
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        color: #636363;
        font-family: 'Open Sans';
        font-size: 0.875em;
        height: 22px;
        padding: 0 0 3px 3px;
        width: 108px;

        &:focus {
          outline-color: #333333;
        }
      }
    }

    .divider {
      background: rgba(235, 235, 235, 0.58);
      height: 1px;
      margin: 10px 0;
      width: 912px;
    }

    .products {
      margin: 0 -15px;
    }

    #{$list} {
      display: inline-block;
    }

    .item {
      @extend .product ;
      padding: 0 30px 60px;
      width: 250px;

      img {
        width: 250px;
      }
    }

    .pagination {
      line-height: 27px;
      text-align: center;

      a {
        color: #636363;
        display: inline-block;
        font-size: 1em;
        font-weight: 300;
        margin: 15px;
        text-align: center;
      }

      .selected {
        @include border-radius(50%);
        background-color: #79bd86;
        color: #fff;
        font-weight: bold;
        height: 27px;
        width: 27px;
      }
    }
  }

  .divider-lg {
    background-color: #d7d7d7;
    clear: both;
    height: 5px;
    width: 100%;
  }
}
