@import "mixins";

footer {
  clear: both;
  color: #5b5b5b;
  font-size: 0.875em;
  font-weight: 400;
  padding-top: 30px;

  .info {
    float: left;
    margin-right: 25px;
    width: 220px;

    .info-title {
      height: 17px;
      text-transform: uppercase;

      img {
        position: relative;
        top: 2px;
      }
    }

    .info-content {
      line-height: 1.5;
      padding-top: 30px;
    }
  }

  .social-medias {
    float: right;

    p {
      text-transform: uppercase;
    }

    #{$list} {
      display: inline-block;
      margin: 10px 5px;
    }
  }

  .description {
    clear: both;
    padding-top: 30px;

    img {
      float: left;
      margin-right: 20px;
    }
    p {
      float: left;
      line-height: 1.2;
      width: 60%;
    }
  }

  .stamps {
    clear: both;
    padding: 50px 0 20px 0;

    .group1, .cards, .group2 {
      display: inline-block;
      height: 100px;
      line-height: 100px;
    }

    .group1 {
      float: left;

      .ssl {
        margin-right: 30px;
      }
    }

    .cards {
      text-align: center;
      text-align: center;
      width: 652px;
    }

    .group2 {
      float: right;

      img {
        margin: 15px;
      }
    }

  }

  .copyright {
    border-top: 1px solid  #d7d7d7;
    font-size: 0.875em;
    font-weight: 400;
    margin-bottom: 30px;
    padding-top: 10px;

    p:first-child {
      display: block;
      float: left;
    }

    p:last-child {
      display: block;
      float: right;
    }
  }
}
