$fontPrimary: #282828;
$fontSecondary: #818181;
$list: 'ul li';

// ======= Default =======
.container {
  font-family: 'Roboto';
  margin: 0 auto;
  width: 1209px;
}
// ======= Mixins =======
@mixin placeholder {
  &::-webkit-input-placeholder {@content};
       &:-ms-input-placeholder {@content};
           &::-moz-placeholder {@content};
            &:-moz-placeholder {@content};
}

@mixin border-radius($radius...) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


// ======= Templates =======
.side_menu {
  @include border-radius(12px);
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;
  width: 257px;

  .yellow-bar {
    background-color: #fce376;
    height: 7px;
  }

  .filter-title {
    background-color: rgba(235, 235, 235, 0.45);
    color: #4d4d4d;
    font-size: 1.375em;
    height: 46px;
    line-height: 46px;
    text-transform: uppercase;
  }

  ul {
    padding: 15px 0;
  }

  #{$list} {
    color: #727272;
    font-size: 1em;
    font-weight: 300;
    line-height: 2.438;
  }
}
